{% extends "layout.html" %}
{% block content %}
    <div class="content section">
      <form method = "POST" action ="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class = "border bottom mb-4"> Dodawanie drużyny </legend>

          <div class="form group">
            {{ form.TeamName.label(class="form-control-label") }}

                    {% if form.TeamName.errors %}
                        {{ form.TeamName(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.TeamName.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.TeamName(class="form-control form-control-lg") }}
                    {% endif %}
          </div>


          <div class="form group">
            {{ form.StadionName.label(class="form-control-label") }}

                    {% if form.StadionName.errors %}
                        {{ form.StadionName(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.TeamName.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.StadionName(class="form-control form-control-lg") }}
                    {% endif %}
          </div>

          <div class="form group">
            {{ form.TeamManagerName.label(class="form-control-label") }}

                    {% if form.TeamManagerName.errors %}
                        {{ form.TeamManagerName(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.TeamName.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.TeamManagerName(class="form-control form-control-lg") }}
                    {% endif %}
          </div>


          <div class="form group">
            {{ form.BudgetBalance.label(class="form-control-label") }}

                    {% if form.BudgetBalance.errors %}
                        {{ form.BudgetBalance(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.TeamName.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.BudgetBalance(class="form-control form-control-lg") }}
                    {% endif %}
          </div>

          <div class="form group">
            {{ form.BudgetDept.label(class="form-control-label") }}
            {{ form.BudgetDept(class="form-control form-control-lg") }}
        </div>

        <div class="form group">
          {{ form.BudgetProfit.label(class="form-control-label") }}

                  {% if form.BudgetProfit.errors %}
                      {{ form.TeamName(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.TeamName.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.BudgetProfit(class="form-control form-control-lg") }}
                  {% endif %}
        </div>

        <div class="form group">
          {{ form.BudgetExpenses.label(class="form-control-label") }}

                  {% if form.BudgetExpenses.errors %}
                      {{ form.BudgetExpenses(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.TeamName.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.BudgetExpenses(class="form-control form-control-lg") }}
                  {% endif %}
        </div>
        <div class="form group">
          {{ form.Player1.label(class="form-control-label") }}

                  {% if form.Player1.errors %}
                      {{ form.Player1(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.TeamName.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.Player1(class="form-control form-control-lg") }}
                  {% endif %}
        </div>
        <div class="form group">
          {{ form.Player2.label(class="form-control-label") }}
          {{ form.Player2(class="form-control form-control-lg") }}
        </div>
        <div class="form group">
          {{ form.Player3.label(class="form-control-label") }}
          {{ form.Player3(class="form-control form-control-lg") }}
        </div>
        <div class="form group">
          {{ form.Player4.label(class="form-control-label") }}
          {{ form.Player4(class="form-control form-control-lg") }}
        </div>
        <div class="form group">
          {{ form.Player5.label(class="form-control-label") }}
          {{ form.Player5(class="form-control form-control-lg") }}
        </div>
        <div class="form group">
          {{ form.Player6.label(class="form-control-label") }}
          {{ form.Player6(class="form-control form-control-lg") }}
        </div>
        <div class="form group">
          {{ form.Player7.label(class="form-control-label") }}
          {{ form.Player7(class="form-control form-control-lg") }}
        </div>
        <div class="form group">
          {{ form.Player8.label(class="form-control-label") }}
          {{ form.Player8(class="form-control form-control-lg") }}
        </div>
        <div class="form group">
          {{ form.Player9.label(class="form-control-label") }}
          {{ form.Player9(class="form-control form-control-lg") }}
        </div>
        <div class="form group">
          {{ form.Player10.label(class="form-control-label") }}
          {{ form.Player10(class="form-control form-control-lg") }}
        </div>
        <div class="form group">
          {{ form.Player11.label(class="form-control-label") }}
          {{ form.Player11(class="form-control form-control-lg") }}
        </div>


        </fieldset>
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
        </div>
      </form>
    </div>
    {% endblock content %}
