{% extends "layout.html" %}
{% block content %}
<table id = "teams" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
      <tr>
          <th class="th-sm">Imie i nazwisko
          </th>
          <th class="th-sm">Drużyna
          </th>
          <th class="th-sm">Numer telefonu
          </th>
          <th class="th-sm">Narodowośc
          </th>
          <th class="th-sm">Edutuj
          </th>
          <th class="th-sm">Usuń
          </th>
        </tr>
    </thead>
    <tbody>
    {% for post in posts %}
    <tr>
      <td> {{post.name}} {{post.last_name}} </td>
      <td> {{post.team_name}} </td>
      <td> {{post.phone}} </td>
      <td> {{post.nationality}} </td>
      <td> <div class='btn btn-outline-warning'>
        <a href="{{ url_for('about', variable=post.id) }}">Edytuj dane trenera</a>
      </div> </td>
      <td> <div class='btn btn-outline-danger'>
      <a href="{{ url_for('about') }}">Usuń trenera</a>
      </div> </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <div class='btn btn-outline-info'>
    <a href="{{ url_for('about') }}">Dodaj trenera</a>
  </div>
  {% endblock content %}

  {% block scripts %}
  <script>
    $(document).ready(function () {
      $('#teams').DataTable({
        columns: [
          null,
          {searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          null,null],
      });
    });
  </script>
{% endblock %}
