{% extends "layout.html" %}
{% block content %}
    <div class="content section">
      <form method = "POST" action ="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class = "border bottom mb-4"> Edycja składu </legend>
          <h1> Zawodnik 1 </h1>
          <div class="form group">
            {{ form.name1.label(class="form-control-label") }}
            {{ form.name1(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.last_name1.label(class="form-control-label") }}
            {{ form.last_name1(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.phone1.label(class="form-control-label") }}
            {{ form.phone1(class="form-control form-control-lg") }}
          </div>


          <h1> Zawodnik 2 </h1>
          <div class="form group">
            {{ form.name2.label(class="form-control-label") }}
            {{ form.name2(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.last_name2.label(class="form-control-label") }}
            {{ form.last_name2(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.phone2.label(class="form-control-label") }}
            {{ form.phone2(class="form-control form-control-lg") }}
          </div>


          <h1> Zawodnik 3 </h1>
          <div class="form group">
            {{ form.name3.label(class="form-control-label") }}
            {{ form.name3(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.last_name3.label(class="form-control-label") }}
            {{ form.last_name3(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.phone3.label(class="form-control-label") }}
            {{ form.phone3(class="form-control form-control-lg") }}
          </div>


          <h1> Zawodnik 4 </h1>
          <div class="form group">
            {{ form.name4.label(class="form-control-label") }}
            {{ form.name4(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.last_name4.label(class="form-control-label") }}
            {{ form.last_name4(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.phone4.label(class="form-control-label") }}
            {{ form.phone4(class="form-control form-control-lg") }}
          </div>


          <h1> Zawodnik 5 </h1>
          <div class="form group">
            {{ form.name5.label(class="form-control-label") }}
            {{ form.name5(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.last_name5.label(class="form-control-label") }}
            {{ form.last_name5(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.phone5.label(class="form-control-label") }}
            {{ form.phone5(class="form-control form-control-lg") }}
          </div>


          <h1> Zawodnik 6 </h1>
          <div class="form group">
            {{ form.name6.label(class="form-control-label") }}
            {{ form.name6(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.last_name6.label(class="form-control-label") }}
            {{ form.last_name6(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.phone6.label(class="form-control-label") }}
            {{ form.phone6(class="form-control form-control-lg") }}
          </div>


          <h1> Zawodnik 7 </h1>
          <div class="form group">
            {{ form.name7.label(class="form-control-label") }}
            {{ form.name7(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.last_name7.label(class="form-control-label") }}
            {{ form.last_name7(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.phone7.label(class="form-control-label") }}
            {{ form.phone7(class="form-control form-control-lg") }}
          </div>


          <h1> Zawodnik 8 </h1>
          <div class="form group">
            {{ form.name8.label(class="form-control-label") }}
            {{ form.name8(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.last_name8.label(class="form-control-label") }}
            {{ form.last_name8(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.phone8.label(class="form-control-label") }}
            {{ form.phone8(class="form-control form-control-lg") }}
          </div>


          <h1> Zawodnik 9 </h1>
          <div class="form group">
            {{ form.name9.label(class="form-control-label") }}
            {{ form.name9(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.last_name9.label(class="form-control-label") }}
            {{ form.last_name9(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.phone9.label(class="form-control-label") }}
            {{ form.phone9(class="form-control form-control-lg") }}
          </div>


          <h1> Zawodnik 10 </h1>
          <div class="form group">
            {{ form.name10.label(class="form-control-label") }}
            {{ form.name10(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.last_name10.label(class="form-control-label") }}
            {{ form.last_name10(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.phone10.label(class="form-control-label") }}
            {{ form.phone10(class="form-control form-control-lg") }}
          </div>


          <h1> Zawodnik 11 </h1>
          <div class="form group">
            {{ form.name11.label(class="form-control-label") }}
            {{ form.name11(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.last_name11.label(class="form-control-label") }}
            {{ form.last_name11(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.phone11.label(class="form-control-label") }}
            {{ form.phone11(class="form-control form-control-lg") }}
          </div>


          <h1> Zawodnik 12 </h1>
          <div class="form group">
            {{ form.name12.label(class="form-control-label") }}
            {{ form.name12(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.last_name12.label(class="form-control-label") }}
            {{ form.last_name12(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.phone12.label(class="form-control-label") }}
            {{ form.phone12(class="form-control form-control-lg") }}
          </div>


          <h1> Zawodnik 13 </h1>
          <div class="form group">
            {{ form.name13.label(class="form-control-label") }}
            {{ form.name13(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.last_name13.label(class="form-control-label") }}
            {{ form.last_name13(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.phone13.label(class="form-control-label") }}
            {{ form.phone13(class="form-control form-control-lg") }}
          </div>


          <h1> Zawodnik 14 </h1>
          <div class="form group">
            {{ form.name14.label(class="form-control-label") }}
            {{ form.name14(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.last_name14.label(class="form-control-label") }}
            {{ form.last_name14(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.phone14.label(class="form-control-label") }}
            {{ form.phone14(class="form-control form-control-lg") }}
          </div>


          <h1> Zawodnik 15 </h1>
          <div class="form group">
            {{ form.name15.label(class="form-control-label") }}
            {{ form.name15(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.last_name15.label(class="form-control-label") }}
            {{ form.last_name15(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.phone15.label(class="form-control-label") }}
            {{ form.phone15(class="form-control form-control-lg") }}
          </div>


          <h1> Zawodnik 16 </h1>
          <div class="form group">
            {{ form.name16.label(class="form-control-label") }}
            {{ form.name16(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.last_name16.label(class="form-control-label") }}
            {{ form.last_name16(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.phone16.label(class="form-control-label") }}
            {{ form.phone16(class="form-control form-control-lg") }}
          </div>


          <h1> Zawodnik 17 </h1>
          <div class="form group">
            {{ form.name17.label(class="form-control-label") }}
            {{ form.name17(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.last_name17.label(class="form-control-label") }}
            {{ form.last_name17(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.phone17.label(class="form-control-label") }}
            {{ form.phone17(class="form-control form-control-lg") }}
          </div>


          <h1> Zawodnik 18 </h1>
          <div class="form group">
            {{ form.name18.label(class="form-control-label") }}
            {{ form.name18(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.last_name18.label(class="form-control-label") }}
            {{ form.last_name18(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.phone18.label(class="form-control-label") }}
            {{ form.phone18(class="form-control form-control-lg") }}
          </div>


          <h1> Zawodnik 19 </h1>
          <div class="form group">
            {{ form.name19.label(class="form-control-label") }}
            {{ form.name19(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.last_name19.label(class="form-control-label") }}
            {{ form.last_name19(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.phone19.label(class="form-control-label") }}
            {{ form.phone19(class="form-control form-control-lg") }}
          </div>


          <h1> Zawodnik 20 </h1>
          <div class="form group">
            {{ form.name20.label(class="form-control-label") }}
            {{ form.name20(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.last_name20.label(class="form-control-label") }}
            {{ form.last_name20(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.phone20.label(class="form-control-label") }}
            {{ form.phone20(class="form-control form-control-lg") }}
          </div>


          <h1> Zawodnik 21 </h1>
          <div class="form group">
            {{ form.name21.label(class="form-control-label") }}
            {{ form.name21(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.last_name21.label(class="form-control-label") }}
            {{ form.last_name21(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.phone21.label(class="form-control-label") }}
            {{ form.phone21(class="form-control form-control-lg") }}
          </div>

          <h1> Zawodnik 22 </h1>
          <div class="form group">
            {{ form.name22.label(class="form-control-label") }}
            {{ form.name22(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.last_name22.label(class="form-control-label") }}
            {{ form.last_name22(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.phone22.label(class="form-control-label") }}
            {{ form.phone22(class="form-control form-control-lg") }}
          </div>
          <h1> Zawodnik 23 </h1>
          <div class="form group">
            {{ form.name23.label(class="form-control-label") }}
            {{ form.name23(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.last_name23.label(class="form-control-label") }}
            {{ form.last_name23(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.phone23.label(class="form-control-label") }}
            {{ form.phone23(class="form-control form-control-lg") }}
          </div>


        </fieldset>
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
        </div>
      </form>
    </div>
    {% endblock content %}


    class EditSquadForm(FlaskForm):
        name1 = StringField("Imię zawodnika", [DataRequired()])
        last_name1 = StringField("Nazwisko zawodnika", [DataRequired()])
        phone1 = StringField("Numer telefonu", [DataRequired()])

        name2 = StringField("Imię zawodnika", [DataRequired()])
        last_name2 = StringField("Nazwisko zawodnika", [DataRequired()])
        phone2 = StringField("Numer telefonu", [DataRequired()])

        name3 = StringField("Imię zawodnika", [DataRequired()])
        last_name3 = StringField("Nazwisko zawodnika", [DataRequired()])
        phone3 = StringField("Numer telefonu", [DataRequired()])

        name4 = StringField("Imię zawodnika", [DataRequired()])
        last_name4 = StringField("Nazwisko zawodnika", [DataRequired()])
        phone4 = StringField("Numer telefonu", [DataRequired()])

        name5 = StringField("Imię zawodnika", [DataRequired()])
        last_name5 = StringField("Nazwisko zawodnika", [DataRequired()])
        phone5 = StringField("Numer telefonu", [DataRequired()])

        name6 = StringField("Imię zawodnika", [DataRequired()])
        last_name6 = StringField("Nazwisko zawodnika", [DataRequired()])
        phone6 = StringField("Numer telefonu", [DataRequired()])

        name7 = StringField("Imię zawodnika", [DataRequired()])
        last_name7 = StringField("Nazwisko zawodnika", [DataRequired()])
        phone7 = StringField("Numer telefonu", [DataRequired()])

        name8 = StringField("Imię zawodnika", [DataRequired()])
        last_name8 = StringField("Nazwisko zawodnika", [DataRequired()])
        phone8 = StringField("Numer telefonu", [DataRequired()])

        name9 = StringField("Imię zawodnika", [DataRequired()])
        last_name9 = StringField("Nazwisko zawodnika", [DataRequired()])
        phone9 = StringField("Numer telefonu", [DataRequired()])

        name10 = StringField("Imię zawodnika", [DataRequired()])
        last_name10 = StringField("Nazwisko zawodnika", [DataRequired()])
        phone10 = StringField("Numer telefonu", [DataRequired()])

        name11 = StringField("Imię zawodnika", [DataRequired()])
        last_name11 = StringField("Nazwisko zawodnika", [DataRequired()])
        phone11 = StringField("Numer telefonu", [DataRequired()])

        name11 = StringField("Imię zawodnika")
        last_name11 = StringField("Nazwisko zawodnika")
        phone11 = StringField("Numer telefonu")

        name12 = StringField("Imię zawodnika")
        last_name12 = StringField("Nazwisko zawodnika")
        phone12 = StringField("Numer telefonu")

        name13 = StringField("Imię zawodnika")
        last_name13 = StringField("Nazwisko zawodnika")
        phone13 = StringField("Numer telefonu")

        name14 = StringField("Imię zawodnika")
        last_name14 = StringField("Nazwisko zawodnika")
        phone14 = StringField("Numer telefonu")

        name15 = StringField("Imię zawodnika")
        last_name15 = StringField("Nazwisko zawodnika")
        phone15 = StringField("Numer telefonu")

        name16 = StringField("Imię zawodnika")
        last_name16 = StringField("Nazwisko zawodnika")
        phone16 = StringField("Numer telefonu")

        name17 = StringField("Imię zawodnika")
        last_name17 = StringField("Nazwisko zawodnika")
        phone17 = StringField("Numer telefonu")

        name18 = StringField("Imię zawodnika")
        last_name18 = StringField("Nazwisko zawodnika")
        phone18 = StringField("Numer telefonu")

        name19 = StringField("Imię zawodnika")
        last_name19 = StringField("Nazwisko zawodnika")
        phone19 = StringField("Numer telefonu")

        name20 = StringField("Imię zawodnika")
        last_name20 = StringField("Nazwisko zawodnika")
        phone20 = StringField("Numer telefonu")

        name21 = StringField("Imię zawodnika")
        last_name21 = StringField("Nazwisko zawodnika")
        phone21 = StringField("Numer telefonu")

        name22 = StringField("Imię zawodnika")
        last_name22 = StringField("Nazwisko zawodnika")
        phone22 = StringField("Numer telefonu")

        name23 = StringField("Imię zawodnika")
        last_name23 = StringField("Nazwisko zawodnika")
        phone23 = StringField("Numer telefonu")

        submit = SubmitField("Edytuj skład")
