{% extends "layout.html" %}
{% block content %}
    <div class="content section">
      <form method = "POST" action ="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class = "border bottom mb-4"> Dodawanie drużyny </legend>

          <div class="form group">
            {{ form.TeamName.label(class="form-control-label") }}
            {{ form.TeamName(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.NumberOfPlayers.label(class="form-control-label") }}
            {{ form.NumberOfPlayers(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.StadionName.label(class="form-control-label") }}
            {{ form.StadionName(class="form-control form-control-lg") }}

          </div>

          <div class="form group">
            {{ form.TeamManagerName.label(class="form-control-label") }}
            {{ form.TeamManagerName(class="form-control form-control-lg") }}

          </div>

          <div class="form group">
            {{ form.TeamManagerSurname.label(class="form-control-label") }}
            {{ form.TeamManagerSurname(class="form-control form-control-lg") }}

          </div>

          <div class="form group">
            {{ form.BudgetBalance.label(class="form-control-label") }}
            {{ form.BudgetBalance(class="form-control form-control-lg") }}
          </div>

          <div class="form group">
            {{ form.BudgetDept.label(class="form-control-label") }}
            {{ form.BudgetDept(class="form-control form-control-lg") }}
        </div>

        <div class="form group">
          {{ form.BudgetProfit.label(class="form-control-label") }}
          {{ form.BudgetProfit(class="form-control form-control-lg") }}
        </div>

        <div class="form group">
          {{ form.BudgetExpenses.label(class="form-control-label") }}
          {{ form.BudgetExpenses(class="form-control form-control-lg") }}

        </div>

        </fieldset>
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
        </div>
      </form>
    </div>
    {% endblock content %}
