{% extends "layout.html" %}
{% block content %}
<table id = "data" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
      <tr>
        <th class="th-sm">Imie i nazwisko
        </th>
        <th class="th-sm">Numer telefonu
        </th>
        <th class="th-sm">Drużyna
        </th>
        <th class="th-sm">Recepcjonista
        </th>
        <th class="th-sm">Edutuj
        </th>
        <th class="th-sm">Usuń
        </th>
      </tr>
  </thead>
  <tbody>
    {% for post in posts %}
    <tr>
      <td> {{post.name}} {{post.last_name}} </td>
      <td>  {{post.phone}} </td>
      <td>  {{post.Employer}} </td>
      <td>  {{post.Recepcjonista}} </td>
      <td> <div class='btn btn-outline-info'>
        <a href="{{ url_for('EditEmployee',variable = post.id) }}">Edytuj pracownika</a>
      </div> </td>
      <td> <div class='btn btn-outline-info'>
        <a href="{{ url_for('DeleteEmployee', variable=post.id) }}">Usuń pracownika</a>
      </div> </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
  <div class='btn btn-outline-info'>
    <a href="{{ url_for('AddEmployee') }}">Dodaj pracownika</a>
  </div>
  {% endblock content %}

  {% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          null,
          {searchable: true},
          {orderable: false, searchable: true},
          {orderable: false, searchable: true},
          null,null],
      });
    });
  </script>
{% endblock %}
