{% extends "layout.html" %}
{% block content %}
<table id = "data" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
      <tr>
        <th class="th-sm">Imie i nazwisko
        </th>
        <th class="th-sm">Numer telefonu
        </th>
        <th class="th-sm">Druzyna
        </th>
        <th class="th-sm">Edytuj
        </th>
        <th class="th-sm">Usuń
        </th>
      </tr>
  </thead>
  <tbody>
    {% for post in posts %}
    <tr>
      <td> {{post.Name}} {{post.Surname}} </td>
      <td>  {{post.Phone_number}} </td>
      <td>  {{post.Employer}} </td>
      <td> <div class='btn btn-outline-warning'>
        <a href="{{ url_for('about') }}">Edytuj</a>
      </div> </td>
      <td> <div class='btn btn-outline-danger'>
        <a href="{{ url_for('about') }}">Usuń</a>
      </div> </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
  <div class='btn btn-outline-info'>
    <a href="{{ url_for('AddManager') }}">Dodaj</a>
  </div>
  {% endblock content %}

  {% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          null,
          {searchable: true},
          {orderable: false, searchable: true},
          {orderable: false, searchable: true},
          null],
      });
    });
  </script>
{% endblock %}
