{% extends "layout.html" %}
{% block content %}
<table id = "teams" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
<thead>
  <tr>
    <th class="th-sm">Nazwa
    </th>
    <th class="th-sm">Kraj
    </th>
    <th class="th-sm">Początek
    </th>
    <th class="th-sm">Koniec
    </th>
    <th class="th-sm">Edycja
    </th>
    <th class="th-sm">Usuwanie
    </th>
  </tr>
</thead>
<tbody>
    {% for post in posts %}
    <tr>
      <td> {{post.name}} </td>
      <td> {{post.country}} </td>
      <td> {{post.beggining}} </td>
      <td> {{ post.end }} </td>
      <td><div class='btn btn-outline-warning'>
        <a href="{{ url_for('home') }}">Edytuj sezon</a>
      </div></td>
      <td><div class='btn btn-outline-danger'>
        <a href="{{ url_for('home') }}">Usuń sezon</a>
      </div></td>
    </tr>
    {% endfor %}
</tbody>
</table>
  <p>
  </p>
  <p>
  </p>
  <div class='btn btn-outline-info'>
    <a href="{{ url_for('AddSeason') }}">Dodaj sezon</a>
  </div>
  {% endblock content %}
  {% block scripts %}
  <script>
    $(document).ready(function () {
      $('#teams').DataTable({
        columns: [
          null,
          {searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          null,null],
      });
    });
  </script>
  {% endblock %}
