{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
      <h1> {{post.nazwa}} </h1>
      <p> Ilosc graczy: {{post.Number_of_players}} </p>
      <p> Domowy stadion: {{post.Home_stadion}} </p>
      <p> Imie menadżera: {{post.Manager_name}} </p>
      <p> Nazwisko menadżera: {{post.Manager_lastname}} </p>
      <div class='btn btn-outline-info'>
        <a href="{{ url_for('SeeTeam', variable=post.id) }}">Zobacz skład</a>
      </div>
      <div class='btn btn-outline-warning'>
        <a href="{{ url_for('EditTeam', variable=post.id) }}">Edytuj drużynę</a>
      </div>
      <div class='btn btn-outline-danger'>
      <a href="{{ url_for('AddTeam') }}">Usuń drużynę</a>
      </div>
    {% endfor %}
    <p>



    </p>
  <div class='btn btn-outline-info'>
    <a href="{{ url_for('AddTeam') }}">Dodaj drużynę</a>
  </div>
  {% endblock content %}
